--color-primary: rgb(59, 130, 246);
--color-primary-alt: rgb(29, 78, 216);
--color-primary-alt-dark: rgb(147, 197, 253);
--color-secondary: rgb(239, 68, 68);
--color-secondary-dark: rgb(234, 179, 8);
