name: publish_npm_package

on:
  push:
    tags:
      - "v*.*.*"

permissions:
  id-token: write

env:
  NODE_VERSION: 24
  PACKAGE_NAME: '@ansidev-oss/vitepress-theme-ansidev'
  OUTPUT_DIR: packages/theme/dist/

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - name: Build
        env:
          VITE_GA_ID: ${{ vars.VITE_GA_ID }}
          VITE_SWETRIX_ID: ${{ vars.VITE_SWETRIX_ID }}
          VITE_COUNTER_ANALYTICS_ID: ${{ vars.VITE_COUNTER_ANALYTICS_ID }}
          VITE_DISQUS_ID: ${{ vars.VITE_DISQUS_ID }}
        uses: ghacts/static-site@main
        with:
          node-version: ${{ env.NODE_VERSION }}
          package-manager: pnpm
          package-manager-version: 10
          output-dir: ${{ env.OUTPUT_DIR }}
          skip-test: true

      - name: Set publish tag
        run: |
          ([[ "${GITHUB_REF#refs/*/v}" =~ ^([0-9]+\.)?([0-9]+\.)?(\*|[0-9]+)$ ]] && echo "PUBLISH_TAG=latest" >> "${GITHUB_ENV}") || echo "PUBLISH_TAG=rc" >> "${GITHUB_ENV}"

      - name: Config NPM registry
        uses: actions/setup-node@v6
        with:
          node-version: ${{ env.NODE_VERSION }}
          registry-url: https://registry.npmjs.org

      - name: Publish NPM package
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
        run: |
          pnpm --filter ${{ env.PACKAGE_NAME }} publish --provenance --no-git-checks --access public --tag ${{ env.PUBLISH_TAG }}
